/* Nav Bar CSS */
#brand {
    font-weight: bold;
    font-size: 35px;
    color: black;
    background-color: #1fd81c;
    border: 2px solid black;
    font-family: Oswald;
    text-align: center;
    width: 300px;
    height: 60px;
    font-style: italic;
    text-shadow: 1px 2px white;
}

#main-nav li {
    background-color: #81ba1f;
    margin-left: 200px;
    margin-top: 5px;
    font-style: italic;
    font-family: oswald;
    font-size: 19px;
    text-shadow: 1px 2px black;
    
}

#navblue {
    background-color: #81ba1f;
}

#navbarword {
    color: yellow;
}
/* Header CSS */



/* Section CSS */



/* About Section CSS */
#Johnson {
    border-radius: 30px;
    border: 2px solid black;
    margin-left: 75px;
    margin-top: 40px;
}



#aboutme {
    font-size: 24px;
    
}

#jumbotron {
    border: 2px solid black;
    margin-right: 75px;
    margin-top: 50px;
}

/* Project Section CSS */
h3 {
    text-align: center;
    text-decoration: underline;
}

#left {
    margin-left: 150px;
}




/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */

